.contain {
    position: fixed;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(6, 75, 52);
    z-index: 1111;

    .header {
        max-width: 1440px;   /* Begrenzung der maximalen Breite */
        width: 80%;         /* Header nimmt 100% der Breite bis zur Maximalbreite ein */
        margin: 0 auto;      /* Zentriert den Header */
        padding: 20px 160px; /* Innenabstand */
        display: flex;
        justify-content: space-between;
        align-items: center;
     
    
        > img {
            height: 60px;
            width: 60px;
        }
    
        .title-search {
            display: flex;
            align-items: center;
    
            .title {
                font-size: 48px;
                color: white;
                margin: 0;
            }
    
            .input-suchfeld {
                margin-left: 24px;
    
                input {
                    padding: 8px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
    
                button {
                    padding: 8px 16px;
                    font-size: 16px;
                    background-color: #28a745;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    margin-left: 8px;
                    cursor: pointer;
    
                    &:hover {
                        background-color: #218838;
                    }
                }
            }
        }
    }
    
    
}

/* Responsive Styles */
@media (max-width: 1600px) {
    .contain{
       .header {
           width: 70%;  
           > img {
               height: 60px;
               width: 60px;
               margin-left: -90px;
           }
           .title-search{
               margin-right: -80px;
           }
       }
    }
   }
   @media (max-width: 1096px) {
    .contain{
       .header {
           width: 60%;  
           > img {
               height: 60px;
               width: 60px;
               margin-left: -90px;
           }
           .title-search{
               margin-right: -80px;
           }
       }
    }
   }
@media (max-width: 876px) {
 .contain{
    .header {
        width: 50%;  
        > img {
            height: 60px;
            width: 60px;
            margin-left: -90px;
        }
        .title-search{
            margin-right: -80px;
        }
    }
 }
}
@media (max-width: 700px) {
   .contain{
    .header {
  width: 40%;
        > img {
            height: 60px;
            width: 60px;
            margin-left: -90px;
         
        }
        .title-search{
            margin-right: -120px;
            .title{
                display: none;
            }
        }
    }
   }
}

@media (max-width: 480px) {
   .contain{
    .header {
        width: 30%;
        padding: 10px;
        margin-top: 10px;
        
        .title-search {
            .title {
                font-size: 24px; /* Weitere Verringerung der Schriftgröße */
            }

            .input-suchfeld {
                input {
                    font-size: 14px; /* Kleinere Schriftgröße für das Eingabefeld */
                }

                button {
                    font-size: 14px; /* Kleinere Schriftgröße für den Button */
                }
            }
        }
    }
   }
}
@media (max-width: 375px) {
    .header {
      
        > img {
            height: 60px;
            width: 60px;
            margin-left: -140px;
         
        }
        .title-search{
            margin-right: -140px;
           
            width: 224px;
            .title{
                display: none;
            }
        }
    
    }
}
