.container {
  text-align: center;
  margin-top: 100px;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  margin: 20px 16px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  gap: 8px;

  padding: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* Hover-Effekt */
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }

  /* Typenabhängige Farben */
  &.fire {
    background-color: #f08030;
  }
  &.water {
    background-color: #6890f0;
  }
  &.grass {
    background-color: #78c850;
  }
  &.electric {
    background-color: #f8d030;
  }
  &.psychic {
    background-color: #f85888;
  }
  &.ice {
    background-color: #98d8d8;
  }
  &.dragon {
    background-color: #7038f8;
  }
  &.dark {
    background-color: #705848;
  }
  &.fairy {
    background-color: #ee99ac;
  }
  &.normal {
    background-color: #a8a878;
  }
  &.fighting {
    background-color: #c03028;
  }
  &.flying {
    background-color: #a890f0;
  }
  &.poison {
    background-color: #a040a0;
  }
  &.ground {
    background-color: #e0c068;
  }
  &.rock {
    background-color: #b8a038;
  }
  &.bug {
    background-color: #a8b820;
  }
  &.ghost {
    background-color: #705898;
  }
  &.steel {
    background-color: #b8b8d0;
  }

  /* Fallback für unbekannte Typen */
  &.unknown {
    background-color: #cccccc;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 8px;
 
  }
}

.load-more {
  margin: 20px 0;
}



.load-more button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.load-more button:hover {
  background-color: #218838;
}

.load-more button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
.pokemon-details {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 320px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
  border-radius: 40px;
 
}

.pokemon-details .details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  color: white;

  h3{
    margin-top: 0px;
    font-size: 60px;
  }

  p{
    margin-top: -44px;
  }
}

.pokemon-details button {
  background-color: rgb(228,30,37);
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -60px;
}

.pokemon-details button:hover {
  background-color: rgb(232, 74, 79);
}

/* Stil für das Pokémon-Bild */
.pokemon-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pokemon-img-detail {
  width: 250px;
  height: 250px;
  object-fit: contain;
  z-index: 99;
  margin-top: -20px;
}

/* Name und Typ des Pokémon */
.Schließen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 60px;
  font-size: 24px;
  color: white;
}

.name-type-pos h4 {
  font-size: 26px;
  font-weight: bold;
}

.name-type-pos p {
  font-size: 20px;
}

/* Statistiken mit Fortschrittsbalken */
.stats {
  text-align: left;
  font-size: 14px;
  margin-top: -36px;
  
  background-color: white;
  width: 400px;
  height: 300px;
  margin-left: -20px;
  padding: 20px;
  border-radius: 40px;
 

}

.stats .stat-item {

  margin-bottom: 15px;
}

.stats p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Fortschrittsbalken */
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
  overflow-x: hidden;
}

.progress {
  height: 100%;
  border-radius: 4px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100% der Breite des Viewports */
  height: 100vh; /* 100% der Höhe des Viewports */
  //background: rgba(0, 0, 0, 0.5); /* Halbtransparenter Hintergrund */
  z-index: 999; /* Über dem Detail-Popup */
}

.pokemon-details {
  position: fixed;
  top: 50%; /* Zentrieren */
  left: 50%; /* Zentrieren */
  transform: translate(-50%, -50%); /* Zentrieren */
  width: 90vw; /* 90% der Breite des Viewports */
  max-width: 400px; /* Maximale Breite von 400px */
  max-height: 70vh; /* Maximale Höhe von 90vh */
  overflow-y: auto; /* Scrollen, wenn der Inhalt zu groß ist */
  padding: 20px;
  background: #f4f4f4; 
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Flexbox für Inhalt */
  gap: 16px;

  /* Optional: Farbe für den Hintergrund */
  background-color: white; 
  border-radius: 40px; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1100;
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.details-content {
  flex-grow: 1;
}

.pokemon-details.fire {
  background-color: #f08030;
}

.pokemon-details.water {
  background-color: #6890f0;
}

.pokemon-details.grass {
  background-color: #78c850;
}

.pokemon-details.electric {
  background-color: #f8d030;
}

.pokemon-details.psychic {
  background-color: #f85888;
}

.pokemon-details.ice {
  background-color: #98d8d8;
}

.pokemon-details.dragon {
  background-color: #7038f8;
}

.pokemon-details.dark {
  background-color: #705848;
}

.pokemon-details.fairy {
  background-color: #ee99ac;
}

.pokemon-details.normal {
  background-color: #a8a878;
}

.pokemon-details.fighting {
  background-color: #c03028;
}

.pokemon-details.flying {
  background-color: #a890f0;
}

.pokemon-details.poison {
  background-color: #a040a0;
}

.pokemon-details.ground {
  background-color: #e0c068;
}

.pokemon-details.rock {
  background-color: #b8a038;
}

.pokemon-details.bug {
  background-color: #a8b820;
}

.pokemon-details.ghost {
  background-color: #705898;
}

.pokemon-details.steel {
  background-color: #b8b8d0;
}

.pokemon-details.unknown {
  background-color: #cccccc;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
/* ---------------------------------------------------- */






/* Für kleinere Bildschirme */
@media (max-width: 768px) {
  .pokemon-details {
   
    padding: 15px;
  }

  .stats {
    width: 100%; /* 100% Breite auf kleineren Geräten */
    max-width: 97%;
    height: 270px;
    margin-left: -14px;
    margin-top: -32px;;

  }

  .stats p {
    font-size: 12px; /* Kleinere Schriftgröße auf mobilen Geräten */
  }

  .pokemon-img-container {
    img {
      max-height: 200px; /* Bildgröße anpassen */
    }
  }
  .pokemon-details button {
    background-color: rgb(228,30,37);
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -78px;
  }
  .Schließen-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 70px;
    font-size: 24px;
    color: white;
  }
}


@media (max-width: 480px) {
  .pokemon-details {
    width: 90%;
   width: 290px;
   margin-top: 30px;
    padding: 15px;
    height: 600px;
    .details-header{
      h3{
        font-size: 40px;
      }
      p{
        margin-top: -32px;
      }
    }
  }

  .stats {
    width: 100%; /* 100% Breite auf kleineren Geräten */
    max-width: 96%;
    margin-top: -20px;
    height: 250px;

  }

  .stats p {
    font-size: 12px; /* Kleinere Schriftgröße auf mobilen Geräten */
  }

  .pokemon-img-container {
    img {
      max-height: 200px; /* Bildgröße anpassen */
      max-width: 200px;
    }
  }
  .pokemon-details button {
    background-color: rgb(228,30,37);
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -70px;
  }
  .Schließen-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 60px;
    font-size: 24px;
    color: white;
  }

}


@media (max-width: 350px) {
  .pokemon-details {
    width: 90%;
   width: 270px;
   margin-top: 40px;
    padding: 15px;
    .details-header{
      h3{
        font-size: 40px;
      }
      p{
        margin-top: -32px;
      }
    }
    .pokemon-img-container{

      .pokemon-img-detail{
        width: 200px;
        height: 200px;
      }
    }
  }

  .stats {
    width: 100%; /* 100% Breite auf kleineren Geräten */
    max-width: 96%;
    margin-top: -24px;
    height: 250px;

  }

  .stats p {
    font-size: 12px; /* Kleinere Schriftgröße auf mobilen Geräten */
  }

  .pokemon-img-container {
    img {
      max-height: 200px; /* Bildgröße anpassen */
    }
  }
  .pokemon-details button {
    background-color: rgb(228,30,37);
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -70px;
  }
  .Schließen-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 60px;
    font-size: 24px;
    color: white;
  }




}






